# Introdução ao Pandas - Estudos part1 Séries Temporais

In [1]:
import pandas as pd

In [2]:
dict = {'a': 3, 'b': 'cat', 'c': 25}

In [3]:
dict

{'a': 3, 'b': 'cat', 'c': 25}

In [4]:
pd.Series(dict)

a      3
b    cat
c     25
dtype: object

In [6]:
oneD = pd.Series([100, 'cat', 310, 'gog', 500], ['Amy', 'Bobby', 'Cat', 'Don', 'Emma'])
oneD

Amy      100
Bobby    cat
Cat      310
Don      gog
Emma     500
dtype: object

In [7]:
oneD = pd.Series([100, 'cat', 310, 'gog', 500], index= ['Amy', 'Bobby', 'Cat', 'Don', 'Emma'])
oneD

Amy      100
Bobby    cat
Cat      310
Don      gog
Emma     500
dtype: object

In [9]:
# Função loc localiza dados pelo indice(index)
oneD.loc[['Cat', 'Emma']]

Cat     310
Emma    500
dtype: object

In [10]:
# Função que localiza os dados pela posição
oneD.iloc[1]

'cat'

In [13]:
# Função loc localiza dados pelo indice(index)
'cat' in oneD

False

In [14]:
# Função loc localiza dados pelo indice(index)
'Cat' in oneD

True

In [15]:
d = {'A': pd.Series([100,200,300], index=['Maça', 'Pera', 'Laranja']),
     'B': pd.Series([111,222,333,444], index=['Maça', 'Pera', 'Laranja', 'Melão'])}

In [16]:
df = pd.DataFrame(d)

In [17]:
df.head()

             A    B
Laranja  300.0  333
Maça     100.0  111
Melão      NaN  444
Pera     200.0  222

In [19]:
type(df)

pandas.core.frame.DataFrame

In [20]:
df.index

Index(['Laranja', 'Maça', 'Melão', 'Pera'], dtype='object')

In [21]:
df.columns

Index(['A', 'B'], dtype='object')

In [23]:
pd.DataFrame(df, index=['Laranja', 'Melão', 'Maça'], columns=['A'])

             A
Laranja  300.0
Melão      NaN
Maça     100.0